---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Hello, I’m Zhang Zhiyuan, an undergraduate student in Information and Computational Science at Hefei University of Technology. My research areas include data analysis, mathematical modeling, and deep learning, with a strong focus on logical reasoning and problem-solving. I am passionate about applying theory to practical problems and continuously exploring challenges in the field of technology.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Science in Information and Computing Science"
      subtitle="Sep 2023 to Present at Hefei University of Technology, School of Mathematics, Hefei, China"
    />
    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="WorldQuant Quantitative Trading Consultant"
      subtitle="From Dec 2024 to Jun 2025 at WorldQuant, Remote"
    >
      Developed quantitative factors, automated alpha backtesting in Python, and optimized strategies through literature review.
    </TimeLineElement>

    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Awards</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        <a target="_blank">2025 National First Prize in the Mathematical Modeling Competition for College Students</a>
      </li>
      <li>
        <a target="_blank">2024 Blue Bridge Cup Provincial First Prize in C++ University Group A</a>
      </li>
      <li>
        <a target="_blank">2024 Mathematics Competition (Mathematics Group) Second Prize</a>
      </li>
  </ul>



  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a target="_blank"> English: GRE:321</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>C</li>
    <li>C++</li>
    <li>R</li>
    <li>SQL</li>
    <li>Linux</li>
    <li>Git</li>
    <li>Matlab</li>
    <li>Latex</li>
    <li>English</li>
  </ul>
</BaseLayout>
