---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Dizzy
  </div>

  <div class="text-sm text-gray-500">
    Source code available on&nbsp;
    <a
      href="https://github.com/redizzy/redizzy.github.io"
      target="_blank"
      rel="noopener noreferrer"
      class="underline hover:text-gray-700"
    >
      GitHub
    </a>
  </div>
</footer>
